<%= render 'search' %>

<h1> 
	<% if @search_query.present? %>
		<%= t '.search_results' %>
	<% else %>
		<%= t '.title' %>
	<% end %> 
</h1>

<!-- Passa um array que o rails ira interar sobre ele e executar a
partial(_room.html.erb) para cada registro -->
<%= render @rooms %>