//mixin para facilitar a declaração de box-shadow , colocandotodos os vendor prefixes
@mixin shadow($color, $x, $y, $radius) {
  -moz-box-shadow: $color $x $y $radius;
  -webkit-box-shadow: $color $x $y $radius;
  box-shadow: $color $x $y $radius;
}